@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.bg img {
    width: 95vw;
    height: 85vh;
    margin-top: 19vh;
    filter: blur(20px);
    filter: blur(6px) drop-shadow(0 0 50px rgba(151, 33, 255, 0.905)) contrast(110%);

}

.bg img:hover {
    transform: scale(1.1);
}

.white 
{
    border: 2px solid slateblue;
    height: 10vh;
    background-color: rgb(148, 135, 230) ;
    margin-top: 10vh;
}

.flim {
    position: absolute;
    width: 95vw;
    height: 85vh;
    background-color: rgba(152, 61, 231, 0.282);
    top: 19vh;
}

.flim:hover {
    cursor: grab;

}

.flim::after {
    position: absolute;
    content: " Sambhav ";
    color: azure;

    font-size: 10vh;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin-left: 35vw;
    margin-top: 40vh;
 text-align: center;
   animation: hello  8s;
}

@keyframes hello
{
    0%
    {
        content: "Hello";
    }

    30%
    {
        content: "My Name?";
    }
    
    50%
    {
        content: "Is";
       margin-left: 2vw;
    }

    60%
    {
        content:"Sambhav"
    }

    70%
    {
        content: "And";
    }
    75%
    {
        content: "I";
    }
    80%
    {
        content: "Am";
    }
    85%
    {
        content: "A";
    }

    90%
    {
        content: "Software Developer :>";
    }

}

.icons
{
    display:flex;
     margin-top: 10vh;  
}

.git
{
   
    height: 30vh;
    margin-left: 10vw;
   
}
.git:hover{
 transform: scale(1) translatey(10px);
 transition: cubic-bezier(0.4, 0, 0.56, 1.51) .4s;
}


.insta:hover{
 transform: scale(1) translatey(10px);
 transition: cubic-bezier(0.4, 0, 0.56, 1.51) .4s;
}


.link:hover{
 transform: scale(1) translatey(10px);
 transition: cubic-bezier(0.4, 0, 0.56, 1.51) .4s;
}


.insta
{
    height: 20vh;
    border-radius: 50px;
    margin-top: 5vh;
    margin-left: 10vw;
}


.link
{
    height: 20vh;
    border-radius: 100px;
    margin-top: 5vh;
    margin-left: 14vw;
}